//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "activeadmin_blaze_theme/theme";
@import "active_admin/mixins";
@import "active_admin/base";


$color-green: #38bc33;
$color-orange: #ff8c00;
$color-red: #ff2825;
$color-lightblue: #5796da;
$color-checkbox-border: #c9d0d6;
$bg-menu-active: #7b929e !default;          // bg menu item current / hover
$bg-sidebar: #efefef;                       // bg sidebar

#header #utility_nav #current_account a {
  display: inline-block;
}

body.active_admin #header ul.tabs li > a {
  height: 100%;
  line-height: 28px;
}

#main_content table tbody a.member_link {
  margin-right: 3px;
  margin-left: 3px;
}

body.active_admin #header ul.tabs li.current:hover {
  background-color: $bg-menu-active;
}

#header ul.tabs > li:hover > a{
  background: none;
}

#header ul.tabs > li.current > a {
  background: none !important;
}

#main_content table tbody a {
  text-decoration: none;
  font-weight: bold;
  color: $color-lightblue;

  &.delete_link {
    color: $color-red;
  }

  &:hover {
    text-decoration: underline;
  }
}

body.logged_out .flash {
  text-shadow: none;
  color: $color-red;
}

abbr[title] {
  color: $color-red;
  text-decoration: none;
}

.field_with_errors select {
  border: 1px solid $color-red
}

#sidebar fieldset.choices {
  border: 1px solid $color-checkbox-border;
  height: 20px;
  margin-top: 20px;
  border-radius: 3px;
  width: 100%;
  line-height: 14px;

  legend {
    display: none;
  }

  input[type="checkbox"] {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}

body.edit .boolean label,
body.new:not(.logged_out) .boolean label {
  border: 1px solid $color-checkbox-border;
  height: 28px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0px 0px 0px 7px;
  margin-left: 20%;

  input[type="checkbox"] {
    position: relative;
    top: 3px;
  }
}

.status_tag:not(.yes):not(.no) {
  background: transparent;
  border-radius: 3px;

  &.license_valid {
    border: 1px solid $color-green;
    color: $color-green;
  }
  &.renewal_urgent {
    border: 1px solid $color-red;
    color: $color-red;
  }
  &.expiring_soon {
    border: 1px solid $color-orange;
    color: $color-orange;
  }
  &.license_expired {
    border: 1px solid #323232;
    color: #323232;
  }
}

.header {
  ul.tabs > li {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  #tabs .has_nested ul {
    li.current a {
      display: inline-block !important;
      }
  }
  #utility_nav {
    #current_account {
      a {
        border-radius: 7px;

        &:hover {
          background: $bg-menu-active;
        }
      }
      &:hover {
        background: none !important;
      }
      &:before {
        content: "Hello, ";
        margin-right: -15px;
        transition: margin-right 0.1s ease;
        display: inline-block !important;
      }
      &:hover:before {
        margin-right: 6px;
        transition: margin-right 0.1s ease;
        display: inline-block !important;
      }
    }
    #logout:hover  {
      background-color: $color-red;
    }
    #current_account {
      display: inline-block !important;

      a {
        display: inline-block;
      }
    }
  }
}
a #current {
    display: inline !important;
}

#sidebar .numeric_range_filter {
  input[type="number"] {
    width: calc(50% - 10px) !important;
    width: 45%;
  }
  .separator {
    width: 20px;
  }
}

.index_content .c-button {
  &:not(:disabled):hover {
    color: #fff !important;
    text-decoration: none !important;
  }
}

.blaze_toggle {
  height: 35px;

  label:first-child {
    margin-top: 8px;
  }
}

body.profile {
  h3 {
    margin: 0px;
    padding: 10px;
    background: #2c3e50;
    color: #fff;
  }
  h3 + table {
    border: 1px solid #2c3e50;

    thead th {
      background: #7b929e;
      color: #fff;
    }
    tbody td:not(:last-child) {
      border-right: 1px solid #e7e7e7;
    }
  }
}

body.active_admin #sidebar {
  background: none;
  margin-top: 25px;
}

body.active_admin.logged_out {
  form fieldset.inputs label {
    line-height: initial;
  }

  form > fieldset.inputs > ol {
    background: none;
    box-shadow: none;
    padding: 0px;

    li.boolean label {
      padding: 0px;
      border: none;
    }
  }
}