//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin_blaze_theme/theme";

$color-green: #38bc33;
$color-orange: #ff8c00;
$color-red: #ff2825;
$color-lightblue: #5796da;
$color-checkbox-border: #c9d0d6;

body.active_admin #tabs > li > a, body.active_admin #utility_nav > li > a {
  display: inline !important;
}

#main_content table tbody a {
  text-decoration: none;
  font-weight: bold;
  color: $color-lightblue;

  &.delete_link {
    color: $color-red;
  }

  &:hover {
    text-decoration: underline;
  }
}

body.logged_out .flash {
  text-shadow: none;
  color: $color-red;
}

abbr[title] {
  color: $color-red;
  text-decoration: none;
}

.field_with_errors select {
  border: 1px solid $color-red
}

#sidebar fieldset.choices {
  border: 1px solid $color-checkbox-border;
  height: 20px;
  margin-top: 20px;
  border-radius: 3px;
  width: 100%;
  line-height: 14px;

  legend {
    display: none;
  }

  input[type="checkbox"] {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}

body.edit .boolean label,
body.new .boolean label {
  border: 1px solid $color-checkbox-border;
  height: 28px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 7px;
  margin-left: 20%;
  line-height: 14px;
}

.status_tag:not(.yes):not(.no) {
  background: transparent;
  border-radius: 3px;

  &.license_valid {
    border: 1px solid $color-green;
    color: $color-green;
  }
  &.renewal_urgent {
    border: 1px solid $color-red;
    color: $color-red;
  }
  &.expiring_soon {
    border: 1px solid $color-orange;
    color: $color-orange;
  }
  &.license_expired {
    border: 1px solid #323232;
    color: #323232;
  }
}

.header {
  #tabs .current.has_nested ul {
    li.current a {
      background: #686f74 !important;
      display: inline !important;
    }
  }
  #utility_nav {
    #current_account:before {
      content: "Hello, ";
      margin-right: -8px;
      transition: margin-right 0.1s ease;
      display: inline !important;
    }
    #current_account:hover:before {
      margin-right: 0px;
      transition: margin-right 0.1s ease;
      display: inline !important;
    }
    #logout:hover a {
      background-color: $color-red;
    }
    &.current_account {
      display: inline !important;
    }
  }
}
a #current {
    display: inline !important;
}
